<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Memes Creator</h1>
<div class="body">
    <div class="first">
      <div class="images">
        <img src="meme1.jpg" alt="mem1" (click)="onUpdatebackground('meme1.jpg')">
        <img src="meme2.jpg" alt="mem1" (click)="onUpdatebackground('meme2.jpg')">
        <img src="meme3.jpg" alt="mem1" (click)="onUpdatebackground('meme3.jpg')">
        <img src="meme4.jpg" alt="mem1" (click)="onUpdatebackground('meme4.jpg')">
        <img src="meme5.jpg" alt="mem1" (click)="onUpdatebackground('meme5.jpg')">
        <img src="meme6.jpg" alt="mem1" (click)="onUpdatebackground('meme6.jpg')">
        <img src="meme7.jpg" alt="mem1" (click)="onUpdatebackground('meme7.jpg')">
        <img src="meme8.jpg" alt="mem1" (click)="onUpdatebackground('meme8.jpg')">
      </div>
      <div class="url">
        <h3 style="color: black;">Select Above image you want or place image url below you want</h3>
        <input type="text" placeholder="Paste link" [(ngModel)]="value">
        <button (click)="onUpdatebackground(value)">select image</button>
      </div>
    </div>
    <div class="second">
          <div class="memimg">
            <h3>{{firstmem}}</h3>
            <h3>{{secondmem}}</h3>
            <h3>{{thirdmem}}</h3>
            <h3>{{fourthmem}}</h3>
            <h3>{{fifthmem}}</h3>
          </div>
          <div class="memes">
            <input type="text" placeholder="firstline" [(ngModel)]="firstmem">
            <input type="text" placeholder="secondline" [(ngModel)]="secondmem">
            <input type="text" placeholder="thirdline" [(ngModel)]="thirdmem">
            <input type="text" placeholder="fourthline" [(ngModel)]="fourthmem">
            <input type="text" placeholder="fifthline" [(ngModel)]="fifthmem">
          </div>
    </div>
  </div>
</body>
</html>